.converterBox {
  min-height: 250px;
}

.converterBox .dataInfo {
  margin: 1rem 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.converterBox .converterRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.form-control:focus {
  color: whitesmoke !important;
  background-color: rgb(199, 117, 145) !important;
}

.converterBox h3 {
  text-align: center;
}

.selectBox {
  margin: 0;
  display: inline-block;
}

.inputBox {
  margin: 16px 0;
  display: inline-block;
}